@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VideoGameStore.Web.Models.GamesPageViewModel


<div class="search-box-panel">
    @using (Html.BeginForm("Search", "GamesPage", FormMethod.Post))
    {
        <div class="form-group search-box">
            <h3>Enter game name</h3>
            <div>
                @Html.TextBoxFor(x => x.SearchName, new { @class = "form-control search-input left" })
            </div>
            <div>
                <br />
                <br />
                <h3>Select categories</h3>
                @for (int i = 0; i < this.Model.CheckBoxesCategories.Count; i++)
                {
                    <div class="checkbox-category left">
                        @Html.CheckBoxFor(x => x.CheckBoxesCategories[i].Checked, new { id = "cb" + i })
                        @Html.HiddenFor(m => m.CheckBoxesCategories[i].Id)
                        @Html.HiddenFor(m => m.CheckBoxesCategories[i].Name)
                        <label for="@("cb" + i)">@this.Model.CheckBoxesCategories[i].Name</label>
                    </div>
                }

                <div class="clear"></div>
            </div>
            <br />
            <button type="submit" class="btn btn-success left search-btn">Search</button>
            <div class="clear"></div>
        </div>
    }
</div>

<div class="games">
    @if (this.Model.IsSuccessActive)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @this.Model.SuccesMessage
        </div>
    }
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
        @foreach (var game in this.Model.Games)
        {
            <tr>
                <td>
                    <img class="game-img" src="@game.ImageUrl" alt="game img" />
                </td>
                <td class="name">
                    <h3><a class="" href="/gameinfo/@game.Id">@game.Name</a></h3>
                </td>
                <td>
                    <p>@game.Description</p>
                </td>
                <td>
                    <h3>@game.Price</h3>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("AddToCart", "GamesPage", new { gameId = game.Id }, FormMethod.Post))
                    {
                            <button type="submit" class="btn btn-success add">Add to Cart</button>
                        }
                    }
                </td>
            </tr>
        }
    </table>

    <div class="clear"></div>
</div>