
@{
    ViewBag.Title = "AddGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VideoGameStore.Web.Models.AddGameViewModel

<h2>Add Game</h2>

@if (this.Model.ErrorText != null && this.Model.ErrorText.Length > 0)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @this.Model.ErrorText
    </div>
}

@using (Html.BeginForm("AddGame", "Admin"))
{
    <div class="form-group">
        <label for="name">Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "name" })
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", id = "description" })
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", id = "price", type = "number" })
    </div>
    <div class="form-group">
        <label for="imageUrl">Image Url:</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", id = "imageUrl" })
    </div>
    <div class="form-group">
        <label for="dateCreated">Date Created:</label>
        @Html.TextBoxFor(x => x.DateCreated, new { @class = "form-control", type = "date", id = "dateCreated" })
    </div>
    <div>
        <h3>Select categories</h3>
        @for (int i = 0; i < this.Model.CheckBoxes.Count; i++)
        {
            <div>
                @Html.CheckBoxFor(x => x.CheckBoxes[i].Checked, new { id = "cb" + i })
                @Html.HiddenFor(m => m.CheckBoxes[i].Id)
                @Html.HiddenFor(m => m.CheckBoxes[i].Name)
                <label for="@("cb" + i)">@this.Model.CheckBoxes[i].Name</label>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-success" type="submit">Add Game</button>
    </div>
}

<div class="clear"></div>